.lazy *,
.lazy *:before,
.lazy *:after {
    box-sizing: border-box;
}

.no-select {
    -webkit-user-select:none;
    -khtml-user-select:none;
    -moz-user-select:none;
    -o-user-select:none;
    user-select:none;
}

.control-panel {
    margin: 1em 0;
}

.panels,
.panel-actions,
.content .panels,
.content .panel-actions {
    list-style: none;
    margin: 0;
    padding: 0;
}

.panels:before,
.panels:after {
    content: ' ';
    display: table;
}

.panels:after {
    clear: both;
}

.panel {
    float: left;
    padding: 5px;
    width: 155px;
}

.panels-slim .panel {
    width: 117px;
}

.panel-title {
    border-bottom: 1px solid #dadada;
    font-size: 1em;
    margin: 0 0 .5em 0;
}

.panel-action {
    margin-top: .5em;
}

.panel-action:first-child {
    margin-top: 0;
}

.panel-input {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
}

.panel-button {
    cursor: pointer;
    width: 100%;
}

.panel-label {
    cursor: pointer;
    display: block;
    padding-left: 1.5em;
    position: relative;
}

.panel-label-text {

}

.panel-checkbox {
    left: 0;
    position: absolute;
}

.lazy-wrapper {
    position: relative;
}

.lazy .lazy-wrapper {
    padding-right: 16px;
}

.lazy-horizontal .lazy-wrapper {
    min-width: 100%;
    padding-bottom: 16px;
    padding-right: 0;
    width: auto;
}

.lazy-table,
.content .lazy-table {
    margin: 0;
    width: 100%;
}

.lazy-vertical .lazy-table,
.content .lazy-vertical .lazy-table {
    table-layout: fixed;
}

.lazy thead th {
    text-align: left;
}

.content .lazy-table tbody th {
    border: 0;
}

.lazy .special {
    color: red;
}

.track {
    background: lightgray;
    bottom: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
    width: 16px;
}

.track-inner {
    bottom: 32px;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
}

.track-scrubber {
    background: gray;
    border-radius: 2px;
    cursor: pointer;
    height: 32px;
    position: absolute;
    width: 100%;
}

.track-scrubber .text {
    display: none;
}

.track-horizontal {
    height: 16px;
    left: 0;
    top: auto;
    width: auto;
}

.track-horizontal .track-inner {
    bottom: 0;
    height: 16px;
    left: 0;
    right: 32px;
    width: auto;
}

.track-horizontal .track-scrubber {
    height: 16px;
    width: 32px;
}