*,
*:before,
*:after {
    box-sizing: border-box;
}

.no-select {
    -webkit-user-select:none;
    -khtml-user-select:none;
    -moz-user-select:none;
    -o-user-select:none;
    user-select:none;
}

.lazy-wrapper {
    position: relative;
}

.lazy {
    padding-right: 16px;
    table-layout: fixed;
    width: 100%;
}

.lazy th {
    text-align: left;
}

.track {
    background: lightgray;
    bottom: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
    width: 16px;
}

.track-inner {
    bottom: 32px;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
}

.track-scrubber {
    background: gray;
    border-radius: 2px;
    cursor: pointer;
    height: 32px;
    position: absolute;
    width: 100%;
}

.track-scrubber .text {
    display: none;
}

.track-action {
    border: 0;
    cursor: pointer;
    display: block;
    height: 16px;
    position: absolute;
    right: 0;
    width: 100%;
}

.track-action .text {
    display: none;
}

.track-prev {
    background: red;
    bottom: 16px;
}

.track-next {
    background: green;
    bottom: 0;
}